<%= form_with(model: quiz) do |f| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :public, "Make this quiz public?" %>
    <%= f.check_box :public %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <% quiz.questions.each_with_index do |question, q_index| %>
    <fieldset>
      <legend>
        Question <%= q_index + 1 %> 
        <%= f.fields_for :questions, question do |qf| %>
        <% unless quiz.new_record? %>
          <%= qf.check_box :_destroy %>
          <%= qf.label :_destroy, "Remove Question" %>
        <% end %>
        <% end %>
      </legend>

      <%= f.fields_for :questions, question do |qf| %>
        <div>
          <%= qf.label :name, "Question text" %>
          <%= qf.text_field :name %>
          <%= qf.label :points %>
          <%= qf.number_field :points, min: 1 %>
        </div>

        <div>
          <strong>Answers:</strong>
          <% 4.times do |a_index| %>
            <div>
              <%= qf.fields_for :options, question.options[a_index] || Option.new do |of| %>
                <%= of.text_field :name, placeholder: "Answer #{a_index + 1}" %>
                <%= of.check_box :is_correct %>
                <%= of.label :is_correct, "Correct" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <%= f.submit "Save Quiz", class: "btn btn-primary" %>
<% end %>

<style>
  .btn-primary{
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
</style>

