<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

<%= form.fields_for :questions do |question_form| %>
  <fieldset>
    <legend>Question #<%= question_form.index + 1 %></legend>
    <div class="nested-fields">
      <%= question_form.label :name %>
      <%= question_form.text_field :name %>

      <div>
        <strong>Options:</strong>
        <%= question_form.fields_for :options do |option_form| %>
          <div class="option-fields">
            <%= option_form.label :name, "Option" %>
            <%= option_form.text_field :name %>
            <%= option_form.check_box :is_correct %>
            <%= option_form.label :is_correct %>
            <% if option_form.object.persisted? %>
              <%= option_form.check_box :_destroy %>
              <%= option_form.label :_destroy, "Remove" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </fieldset>
<% end %>
    
  <div>
    <%= form.submit %>
  </div>
  
<% end %>
